@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese');

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


body {
  background-color: #f2f2f2;
}

h2 {
  font-family:  'Roboto', sans-serif;
  font-weight: 200;
  color: #757575;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-top: 50px;
}


.container-fluid {
  margin-left: 20px;
  margin-right: 20px;
}

.contentBanner {
  width: 75%;
  color: white;
  position: absolute;
  top: 53%;
  margin-left: 30px;
  font-size: 1.25em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.captionBottom {
  margin-top: auto;
  margin-left: 30px;
  color: white;
}

.captionLargethum {
  padding: 0px 25px;
  font-size: 1.67rem;
  color: #5d5d5e;
  padding-top: 20px;
  text-align: center;
}

.captionSmallthum {
  color: #5d5d5e;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  position: absolute;
  top: 88%;
  justify-content: flex-end;
  left: 0;
  right: 0;
}





img {
  width: 100%;
}

.graphic {
  width:100%;
}

#one, #two, #three, #four, #five, #six {
  position: relative;
}

#one {
  position: relative;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('https://storage.googleapis.com/twg-content/images/guest-editor.width-1600.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

#six {
  position: relative;
  background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5) ), url('https://storage.googleapis.com/twg-content/images/1095-Attention-Research-Thumbnail.width-1600.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

#two .graphic {
  background-image: url('https://storage.googleapis.com/twg-content/images/1106-B2B-mobile-landscape-thumbnail.width-1600.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

#three .graphic {
  background-image: url('https://storage.googleapis.com/twg-content/images/1100-Groupon-Case-Study-Thumbnail.width-1600.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

#four .graphic {
  background-image: url('https://storage.googleapis.com/twg-content/images/1110-Cloud-and-Ads-Executive-Perspective-Thum.width-1600.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

#five .graphic {
  background-image: url('https://storage.googleapis.com/twg-content/images/1102-Carat-Agency-op-ed-inline-thumbnail.width-1600.jpg');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
}

.innercontainer {
  background-color: white;
  box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  height: 350px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-right: -2px;
  padding-bottom: 15px;
}

@media screen and (max-width: 990px) {
  h2 {
    display: none;
  }

  .contentBanner {
    width: 55%;
    top: 60%;
  }

}

@media screen and (max-width: 600px) {

  .container-fluid {
    margin-left: 1%;
    margin-right: 1%;
  }

  #one, #six {
    height: 350px;
  }

  .section {
    width: 100%;
    overflow: auto;
  }

  #two .graphic, #three .graphic, #four .graphic, #five .graphic {
    width: 25%;
    max-width: 120px;
    height: auto;
    margin:10px;
    background-size:125%;
  }

  .contentBanner {
    width: 88%;
    padding-right: 30px;
    bottom: 15%;
    top: auto;
  }

  .content {
    width: 65%;
    float: left;
    overflow: auto;
  }

  .captionSmallthum {
    color: #5d5d5e;
    text-align: left;
    right: auto;
    left: auto;
    top: 70%;
    padding-left: 10px;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .captionLargethum {
    padding: 20px 10px;
    font-size: 16px;
    color: #5d5d5e;
    text-align: left;
  }

  .innercontainer {
    min-height: 120px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
}
